@model List<YummyProject.Models.Booking>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Soup Count</div>
            <span class="card-body display-6"><strong>@ViewBag.soupCount</strong></span>
            <div class="card-footer d-flex align-items-center justify-content-between">

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Most Expensive Product</div>
            <span class="card-body display-6"><strong>@ViewBag.mostExpensive</strong></span>
            <div class="card-footer d-flex align-items-center justify-content-between">

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Average Price</div>
            <span class="card-body display-6"><strong>@ViewBag.avgPrice.ToString("00.00") ₺</strong></span>
            <div class="card-footer d-flex align-items-center justify-content-between">

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Cheapest Price</div>
            <span class="card-body display-6"><strong>@ViewBag.cheapestPrice</strong></span>
            <div class="card-footer d-flex align-items-center justify-content-between">
            </div>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        All Customers List
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Date</th>
                    <th>Person Count</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model)
                {
                    <tr>
                        <td>@booking.Name</td>
                        <td>@booking.Email</td>
                        <td>@booking.PhoneNumber</td>
                        <td>@booking.BookingDate.ToShortDateString()</td>
                        <td>@booking.PersonCount</td>
                        <td>@booking.MessageContent</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

