@model List<YummyProject.Models.Chef>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chefs</h2>
<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Image Url</th>
        <th>Name</th>
        <th>Title</th>
        <th>Description</th>
       
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ChefID</th>
            <th>@item.ImageUrl</th>
            <th>@item.Name</th>
            <th>@item.Title</th>
            <th>@item.Description</th>

            <td><a href="/Chef/DeleteChef/@item.ChefID" class="btn btn-danger">Delete</a></td>
            <td><a href="#" class="btn btn-info">Update</a></td>
        </tr>
    }


</table>
<br />
<a href="/Chef/AddChef" class="btn btn-primary">Add Chef</a>


