@model YummyProject.Models.PhotoGallery
@{
    ViewBag.Title = "UpdatePhoto";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>UpdatePhoto</h2>
<br />
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Update About Section</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("UpdatePhoto", "PhotoGallery", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.PhotoGalleryID)

                        <div class="form-group row">
                            @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-10">
                                @Html.TextAreaFor(model => model.ImageUrl, new { @class = "form-control", rows = 3 })
                                @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
                            </div>
                        </div><br />
                    <br />



                        <div class="form-group row">
                            <div class="col-sm-10 offset-sm-2">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-save"></i> Update
                                </button>
                                <a href="@Url.Action("Index")" class="btn btn-secondary">
                                    <i class="fas fa-arrow-left"></i> Back to List
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


